/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#FAF9F6;
    color:#242526;

    font-family:'Lato',sans-serif;

    height:100vh;
    overflow:hidden;

    display:flex;
    display:flex;
    justify-content:center;
    align-items:center;
    align-items:center;

    user-select:none;
    touch-action:none;
}

#display{
    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#number{
    font-size:30vw;
    font-family:'Lato', sans-serif;
    font-weight:900;
    line-height:0.85;

    color:#121212;

    transition:0.15s ease;
}

#label{
    margin-top:18px;

    font-size:2.8rem;
    font-family:'Lato', sans-serif;
    font-weight:900; /* Lato Black */

    letter-spacing:4px;
    text-transform:uppercase;

    color:#121212;
    opacity:1;
}

#footer{
    position:absolute;

    bottom:22px;
    width:100%;

    text-align:center;

    font-size:0.85rem;
    font-weight:400;

    letter-spacing:3px;

    color:#242526;
    opacity:0.45;
}

#easterEgg{
    position:fixed;
    inset:0;
    margin:auto;

    max-width:500px;
    width:80vw;

    opacity:0;
    pointer-events:none;

    transition:opacity .2s;

    z-index:9999;
}