/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#FAF9F6;
    color:#242526;

    font-family:'Lato',sans-serif;

    height:100vh;
    overflow:hidden;

    display:flex;
    display:flex;
    justify-content:center;
    align-items:center;
    align-items:center;

    user-select:none;
    touch-action:none;
}

#timerScreen,
#messageScreen{

    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

#messageScreen{

    display:none;

}

#number{
    font-size:30vw;
    font-family:'Lato', sans-serif;
    font-weight:900;
    line-height:0.85;

    color:#121212;

    transition:0.15s ease;
}

#label{
    margin-top:18px;

    font-size:2.8rem;
    font-family:'Lato', sans-serif;
    font-weight:900; /* Lato Black */

    letter-spacing:4px;
    text-transform:uppercase;

    color:#121212;
    opacity:1;
}

#footer{
    position:absolute;

    bottom:22px;
    width:100%;

    text-align:center;

    font-size:0.85rem;
    font-weight:400;

    letter-spacing:3px;

    color:#242526;
    opacity:0.45;
}

#tabs{

    position:absolute;
    top:15px;
    left:15px;

    display:flex;
    gap:15px;

}

#tabs button{

    border:none;

    padding:15px 30px;

    border-radius:999px;

    cursor:pointer;

    font-size:1.2rem;

}

.active{

    background:#121212;
    color:white;

}

#messageText{

    font-size:10vw;
    font-weight:900;

    text-align:center;

    white-space:pre-wrap;

    user-select:none;

    pointer-events:none;

}

#messageBox{

    position:absolute;

    left:50%;
    top:50%;

    transform:translate(-50%,-50%);

    padding:20px 40px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:move;

}

.selected{

    outline:4px solid #037EF3;

    outline-offset:10px;

    border-radius:8px;

}